*.jpg
*.txt
*.mp4
!labels_correlogram.jpg
!labels.jpg
!train_batch0.jpg
!train_batch1.jpg
!train_batch2.jpg

!val_batch0_labels.jpg
!val_batch0_pred.jpg
!val_batch1_labels.jpg
!val_batch1_pred.jpg
!val_batch2_labels.jpg
!val_batch2_pred.jpg
!01.jpg
!02.jpg
!03.jpg
!04.jpg
!05.jpg
!06.jpg
